.first-outer{
    width: 100%;
    height: 75vh;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* background-color: #bff5f5; */
    /* background-image: url("./texture_bg.jpg"); */
    background-image: linear-gradient(#cbdce1, #9cb6bd, #bcd2d6, #b1c9cd);
    background-size: contain;
    top: -15px;
    position: relative;
}

.first-wrapper{
    /* width: 25%; */
    /* z-index: 10000; */
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-wrapper > img {
    /* width: 100%; */
    height: 90%;
    /* max-width: 180px; */
    /* height: 80%; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: bottom;
    margin: auto;
    border: 1px solid white;
    box-shadow: 0 0 15px 2px darkgray;
    animation-name: easeIn;
    animation-duration: 2s;
}

@keyframes easeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }