.gallery-header{
    height: 15vh;
    line-height: 15vh;
    font-family: Apple Chancery, cursive;
    color: white;
    background-color: #20B2AA;
}

.sub-category {
    color: white;
    font-family: Apple Chancery, cursive;
    text-align: left;
    padding: 10px;
    background-color: slategrey;
    /* background-color: #0CAFFF; */
}

.gallery-row{
    width: 100vw;
    min-height: 60vh;
    display: inline-flex;
    justify-content: space-evenly;
    background-color: slategrey;

}

.gallery-image-outer {
    min-width: 250px;
    width: 25%;
    /* height: 200px; */
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    margin: 10px auto;
}

.gallery-image{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    border-radius: 10px;
}

.gallery-download-outer{
    position: relative;
    right: -6%;
    bottom: -3%;
    z-index: 1000;
    opacity: 50%;
}

@media (max-width: 1000px){
    .gallery-row{
        width: 100vw;
        display: inline-grid;
        justify-content: center;
    }
}