.video-outer{
    width: 100%;
    min-height: 60%;
    max-height: 98vh;
    height: 90vh;
    /* margin: 20px auto; */
    /* padding: 5px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightcyan; */
}

.video-outer > div {
    box-shadow: 0 0 15px 1px black;
}

@media(max-width:500px){
    .video-outer{
        height: 38vh;
        height: 210px;
        /* width: fit-content; */
        /* height: fit-content; */
    }
}